Repository aram-devdocs/gouide: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, bash -c 'pnpm --filter @gouide/protocol codegen:lint', bash -c 'cd core && cargo fmt --', bash -c 'cd core && cargo clippy --all-targets -- -D warnings'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": ["biome check --write --no-errors-on-unmatched"],
  "*.proto": ["bash -c 'pnpm --filter @gouide/protocol codegen:lint'"],
  "core/**/*.rs": [
    "bash -c 'cd core && cargo fmt --'",
    "bash -c 'cd core && cargo clippy --all-targets -- -D warnings'"
  ]
}

chore(rust): harden codebase with strict linting and protocol docs
  core/Cargo.toml
  core/crates/gouide-daemon/src/config.rs
  core/crates/gouide-daemon/src/discovery/lockfile.rs
  core/crates/gouide-daemon/src/lib.rs
  core/crates/gouide-daemon/src/main.rs
  core/crates/gouide-daemon/src/server.rs
  core/crates/gouide-daemon/src/services/control.rs
  core/crates/gouide-daemon/src/services/handshake.rs
  core/crates/gouide-daemon/src/session/manager.rs
  core/crates/gouide-daemon/src/shutdown.rs
  core/crates/gouide-daemon/src/transport/mod.rs
  core/crates/gouide-daemon/src/transport/unix.rs
  core/crates/gouide-protocol/build.rs
  core/crates/gouide-protocol/src/lib.rs
  core/crates/gouide-workspace/src/lib.rs
Due: bash -c 'cd core && cargo fmt --', bash -c 'cd core && cargo clippy --all-targets -- -D warnings'

fix(desktop): update protocol client for renamed services and harden lints
  .husky/pre-push
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/build.rs
  apps/desktop/src-tauri/src/bridge/client.rs
  apps/desktop/src-tauri/src/bridge/discovery.rs
  apps/desktop/src-tauri/src/bridge/lifecycle.rs
  apps/desktop/src-tauri/src/main.rs
Due: none

feat(desktop): integrate Monaco editor with file browser and workspace management
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/gen/schemas/acl-manifests.json
  apps/desktop/src-tauri/gen/schemas/capabilities.json
  apps/desktop/src-tauri/gen/schemas/desktop-schema.json
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/EditorArea.tsx
  apps/desktop/src/components/FileTree.module.css
  apps/desktop/src/components/FileTree.tsx
  apps/desktop/src/components/MonacoEditor.module.css
  apps/desktop/src/components/MonacoEditor.tsx
  apps/desktop/src/components/Sidebar.module.css
  apps/desktop/src/components/Sidebar.tsx
  apps/desktop/src/hooks/useWorkspace.tsx
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

fix(workspace): implement lazy loading to prevent infinite loops in file tree
  packages/frontend/shared/hooks/src/useWorkspace.tsx
  packages/frontend/shared/ui/src/molecules/FileTreeItem.tsx
  packages/frontend/shared/ui/src/organisms/FileTreePanel.tsx
  packages/frontend/shared/ui/src/templates/AppShell.tsx
  packages/frontend/shared/ui/src/templates/SidebarTemplate.tsx
Due: biome check --write --no-errors-on-unmatched

fix(ui): resolve modal bleeding and animation flickering issues
  apps/desktop/src-tauri/capabilities/default.json
  packages/frontend/shared/hooks/src/usePanelManager.ts
  packages/frontend/shared/hooks/src/useSpring.ts
  packages/frontend/shared/theme/src/loader.ts
  packages/frontend/shared/ui/src/atoms/GlassOverlay.tsx
  packages/frontend/shared/ui/src/atoms/icons/index.tsx
  packages/frontend/shared/ui/src/molecules/AnimatedPanel.tsx
  packages/frontend/shared/ui/src/organisms/CommandPalette.tsx
  packages/frontend/shared/ui/src/organisms/SettingsPanel.tsx
  packages/frontend/shared/ui/src/templates/AppShell.tsx
  packages/frontend/shared/ui/src/templates/PanelLayout.tsx
  packages/frontend/shared/ui/src/templates/SettingsPanelTemplate.tsx
Due: biome check --write --no-errors-on-unmatched

style: auto-fix biome linting issues
  apps/desktop/src-tauri/gen/schemas/capabilities.json
  packages/frontend/shared/hooks/src/index.ts
  packages/frontend/shared/hooks/src/useTheme.ts
  packages/frontend/shared/state/src/commandRegistry.ts
  packages/frontend/shared/state/src/index.ts
  packages/frontend/shared/state/src/panelManager.ts
  packages/frontend/shared/state/src/themeRegistry.ts
  packages/frontend/shared/state/tsconfig.json
  packages/frontend/shared/theme/src/css.ts
  packages/frontend/shared/theme/src/schema.ts
  packages/frontend/shared/theme/src/themes/arctic-silver.json
  packages/frontend/shared/theme/src/themes/midnight-purple.json
  packages/frontend/shared/theme/src/themes/space-gray-metal.json
  packages/frontend/shared/theme/src/themes/starlight-gold.json
  packages/frontend/shared/theme/src/tokens.ts
  packages/frontend/shared/theme/tsconfig.json
  packages/frontend/shared/ui/src/atoms/Icon.tsx
  packages/frontend/shared/ui/src/atoms/index.ts
  packages/frontend/shared/ui/src/molecules/KeybindingRow.tsx
  packages/frontend/shared/ui/src/molecules/ThemeCard.tsx
  packages/frontend/shared/ui/src/organisms/ThemeSelector.tsx
  packages/frontend/shared/ui/src/organisms/index.ts
  packages/frontend/shared/ui/src/templates/index.ts
Due: biome check --write --no-errors-on-unmatched

feat(ui): add Storybook stories for settings-related components
  packages/frontend/shared/ui/src/molecules/KeybindingRow.stories.tsx
  packages/frontend/shared/ui/src/molecules/ThemeCard.stories.tsx
  packages/frontend/shared/ui/src/organisms/SettingsPanel.stories.tsx
  packages/frontend/shared/ui/src/organisms/ThemeSelector.stories.tsx
  packages/frontend/shared/ui/src/templates/SettingsPanelTemplate.stories.tsx
Due: biome check --write --no-errors-on-unmatched
